---
import Tag from "@Components/element/Tag.astro";
import { GA4_READ_POST } from "@Models/GeneralModels";
import { dateFormatter } from "@Tools/formatter";
import { getFlatTags } from "@Tools/post";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"legacyPosts">;
}

const { post } = Astro.props;
---

<li class="flex flex-col gap-1">
  <a
    href={`/${post.id}`}
    class:list={[GA4_READ_POST, "text-xl text-teal-800 dark:text-teal-300"]}
    >{post.data.title}</a
  >
  <time>{dateFormatter(post.data.date)}</time>
  <div class="flex flex-wrap items-center gap-2">
    {getFlatTags(post.data.tag).map((tag) => <Tag tag={tag}>{tag}</Tag>)}
  </div>
</li>
