---
import type { PostContent } from '@Models/GeneralTypes';

import Tag from '@Components/element/Tag.astro';
import { GA4_READ_POST } from '@Models/GeneralModels';
import { dateFormatter } from '@Tools/formatter';
import { getPostUrl, getFlatTags } from '@Tools/post';

interface Props {
  post: PostContent;
}

const { post } = Astro.props;
---

<li class="post-wrapper">
  <a href={`/${getPostUrl(post)}`} class={GA4_READ_POST}>{post.data.title}</a>
  <div>{dateFormatter(post.data.date)}</div>
  <div>
    {getFlatTags(post.data.tag).map((tag) => <Tag tag={tag}>{tag}</Tag>)}
  </div>
</li>

<style scoped>
  .post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    container-type: inline-size;
  }
</style>
