---
import Html from '@Components/layout/Html.astro';
import Tag from '@Components/element/Tag.astro';
import { sortPostByDate, groupPostByYear } from '@Tools/post';
import { dateFormatter } from '@Tools/formatter';
import type { Post } from '@Models/GeneralTypes';

const allPosts = await Astro.glob<Post>('../posts/**/*.md');
const sortedPosts = sortPostByDate(allPosts);
const groupByYearPosts = groupPostByYear(sortedPosts);
const sortYears = Object.keys(groupByYearPosts).sort(
  (a, b) => Number(b) - Number(a)
);
---

<Html title="普通文組 2.0" description="tzyn blog v2 index">
  {
    sortYears.map((year) => (
      <section>
        <h2>
          {year}（計{groupByYearPosts[year].length}篇）
        </h2>
        {groupByYearPosts[year].map((post) => (
          <li class="post-wrapper">
            <a href={post.url}>{post.frontmatter.title}</a>
            <div>{dateFormatter(post.frontmatter.date)}</div>
            <div class="tag-container">
              {post.frontmatter.tag.map((tag) => (
                <Tag>{tag}</Tag>
              ))}
            </div>
          </li>
        ))}
      </section>
    ))
  }
</Html>

<style scoped>
  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  section:not(:last-of-type) {
    margin-bottom: 16px;
  }

  h2 {
    margin: 0;
  }

  .post-wrapper {
    list-style-type: none;
    container-type: inline-size;
  }

  .tag-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .tag {
    list-style-type: none;
  }

  @container (min-width: 480px) {
    .tag-container {
      gap: 16px;
    }
  }
</style>
