---
import Tag from "@Components/element/Tag.astro";
import Html from "@Components/layout/Html.astro";
import { dateFormatter } from "@Tools/formatter";
import { getFlatTags } from "@Tools/post";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  entry: CollectionEntry<"legacyPosts">;
  headings: MarkdownHeading[];
  Content: AstroComponentFactory;
}

const { entry, headings, Content } = Astro.props;
---

<Html
  title={entry.data.title}
  description={entry.data.summary || ""}
  image={entry.data.banner || ""}
>
  <section class="space-y-8">
    <h1>{entry.data.title}</h1>
    <div class="flex flex-col gap-3">
      <time>{dateFormatter(entry.data.date)}</time>
      <nav class="flex items-center gap-2">
        {getFlatTags(entry.data.tag).map((tag) => <Tag tag={tag}>{tag}</Tag>)}
      </nav>
      <ul class="list-none space-y-1">
        {
          headings.map((head) => (
            <li
              class:list={[
                "block",
                head.depth === 3 && "ml-4",
                head.depth === 4 && "ml-8",
                head.depth === 5 && "ml-12",
              ]}
            >
              <a
                href={`#${head.slug}`}
                class="text-teal-800 dark:text-teal-300"
              >
                {head.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <article
      class:list={[
        "space-y-6",
        "[&_blockquote]:border-l-4 [&_blockquote]:pl-4",
        "[&_:is(ol,ul)]:mx-7 [&_:is(ol,ul)]:leading-7 [&_ol]:list-decimal [&_ul]:list-disc",
        "[&_a]:text-teal-800 dark:[&_a]:text-teal-300",
        "[&_li>p]:inline", // for data-footnotes
      ]}
    >
      <Content />
    </article>
  </section>
</Html>
