---
import Tag from "@Components/element/Tag.astro";
import Html from "@Components/layout/Html.astro";
import { dateFormatter } from "@Tools/formatter";
import { getFlatTags } from "@Tools/post";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  entry: CollectionEntry<"legacyPosts">;
  headings: MarkdownHeading[];
  Content: AstroComponentFactory;
}

const { entry, headings, Content } = Astro.props;
const giscusRepoId = import.meta.env.PUBLIC_GISCUS_REPO_ID;
const giscusCategoryId = import.meta.env.PUBLIC_GISCUS_CATEGORY_ID;
---

<Html
  title={entry.data.title}
  description={entry.data.summary || ""}
  image={entry.data.banner || ""}
>
  <section class="space-y-8">
    <h1>{entry.data.title}</h1>
    <div class="flex flex-col gap-3">
      <time>{dateFormatter(entry.data.date)}</time>
      <nav class="flex items-center gap-2">
        {getFlatTags(entry.data.tag).map((tag) => <Tag tag={tag}>{tag}</Tag>)}
      </nav>
      <ul class="list-none space-y-1">
        {
          headings.map((head) => (
            <li
              class:list={[
                "block",
                head.depth === 3 && "ml-4",
                head.depth === 4 && "ml-8",
                head.depth === 5 && "ml-12",
              ]}
            >
              <a
                href={`#${head.slug}`}
                class="text-teal-800 dark:text-teal-300"
              >
                {head.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <article
      class:list={[
        "space-y-6",
        "[&_blockquote]:border-l-4 [&_blockquote]:pl-4",
        "[&_:is(ol,ul)]:mx-7 [&_:is(ol,ul)]:leading-7 [&_ol]:list-decimal [&_ul]:list-disc",
        "[&_a]:text-teal-800 dark:[&_a]:text-teal-300",
        // for inline code (parts that do not belong to shiki)
        "[&_code]:text-sm [&_code:not(:has(*))]:bg-neutral-900/70 [&_code:not(:has(*))]:px-1 [&_code:not(:has(*))]:py-0.5 [&_code:not(:has(*))]:text-neutral-200 dark:[&_code:not(:has(*))]:bg-neutral-200/70 dark:[&_code:not(:has(*))]:text-neutral-700",
        // for data-footnotes
        "[&_li>p]:inline",
      ]}
    >
      <Content />
    </article>
  </section>
  <script
    src="https://giscus.app/client.js"
    data-repo="tzynwang/tzynwang.github.io"
    data-repo-id={giscusRepoId}
    data-category="Ideas"
    data-category-id={giscusCategoryId}
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-TW"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</Html>
