---
import Html from '@Components/layout/Html.astro';
import Container from '@Components/layout/Container.astro';
import ContainerNavLink from '@Components/layout/ContainerNavLink.astro';
import Tag from '@Components/element/Tag.astro';
import { dateFormatter } from '@Tools/formatter';
import type { Post, Heading } from '@Models/GeneralTypes';

interface Props {
  frontmatter: Post;
  headings: Heading[];
}

const { frontmatter, headings } = Astro.props;
---

<Html title={frontmatter.title} description={frontmatter.summary || ''}>
  <Container>
    <ContainerNavLink>
      <a href="/">回首頁</a>
      <a href="/archive">回全文章歸檔</a>
    </ContainerNavLink>
  </Container>
  <Container>
    <h1>{frontmatter.title}</h1>
    <div class="info">
      <span>{dateFormatter(frontmatter.date)}</span>
      <span>{frontmatter.tag.map((tag) => <Tag>{tag}</Tag>)}</span>
      <ul>
        {
          headings.map((head) => (
            <li class={`toc-${head.depth}`}>
              <a href={`#${head.slug}`}>{head.text}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <slot />
  </Container>
</Html>

<style scoped>
  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .toc-2 {
    margin-left: 1rem;
  }

  .toc-3 {
    margin-left: 2rem;
  }
</style>
