---
import { ViewTransitions } from "astro:transitions";
import GeneralLayout from "@Components/layout/GeneralLayout.astro";
import { AVATAR, TITLE, DESCRIPTION } from "@Models/GeneralModels";
import "@Styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const title = Astro.props.title || TITLE;
const description = Astro.props.description || DESCRIPTION;
const image = Astro.props.image || AVATAR;

const ga4Id = import.meta.env.PUBLIC_GA4_ID;
const gTagId = import.meta.env.PUBLIC_GTAG_ID;
---

<html lang="en">
  <head>
    <ViewTransitions />
    <!-- Google Tag Manager -->
    <script is:inline define:vars={{ ga4Id }}>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", ga4Id);
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      define:vars={{ gTagId }}
      src=`https://www.googletagmanager.com/gtag/js?id=${gTagId}`></script>
    <script is:inline define:vars={{ ga4Id }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", ga4Id);
    </script>

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦊</text></svg>"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <GeneralLayout>
      <slot />
    </GeneralLayout>
    <!-- Google Tag Manager (noscript) -->
    <iframe
      src=`https://www.googletagmanager.com/ns.html?id=${gTagId}`
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
