---
import Tag from "@Components/element/Tag.astro";
import { GA4_READ_POST } from "@Models/GeneralModels";
import type { Post } from "@Models/GeneralTypes";
import { dateFormatter } from "@Tools/formatter";

interface Props extends Pick<Post, "title" | "date" | "tag"> {
  url?: string;
}

const { title, date, tag, url } = Astro.props;
---

<li class="post">
  <div>{dateFormatter(date)}</div>
  <a href={url} class:list={[GA4_READ_POST, "link-out"]}></a>
  <p class="title">{title}</p>
  <div class="tag-container">
    {tag.map((tag) => <Tag tag={tag}>{tag}</Tag>)}
  </div>
</li>

<style>
  .post {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }

  .post .title {
    margin: 0;
    color: #127369;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-in-out;
    cursor: pointer;
  }

  .post:hover .title {
    text-decoration-color: #127369;
  }

  .tag-container {
    margin-left: auto;
  }
</style>
